%li.message
  %p.chatName
    = message.user.name
    %span.time
      = message.created_at.to_s.gsub(/-/,"/")
  %p.message
    = message.text
  - if message.image.present? 
    %p.image
      = image_tag message.image
