.wrap
  .contents
    = render 'layouts/contents-left'
    .contents__right
      .wrap
        .contents__right__top
          %p.gpname sample グループ
          %p.members Members: yoshiki
        .contents__right__bottom
          .box46
          %ul
            %li
              %p.chatName
                name name
                %span.time 2017/02/08 07:00:55
              %p.message heloo hello hello
            %li
              %p.chatName
                name name
                %span.time 2017/02/08 07:00:55
              %p.message heloo hello hello
            %li
              %p.chatName
                name name
                %span.time 2017/02/08 07:00:55
              %p.message heloo hello hello
    .footer
      .leftbox
      %form.postArea
        .msgbox
          %input.msg{ placeholder: "  type a", type: "text" }
          %i.fa.fa-picture-o
        %button.btn{ type: "submit" } Send
