.wrap
  .contents
    .contents__left
      .contents__left__top
        %p.name
          = current_user.name
        %p.awesome
          = link_to  new_group_path do
            %i.fa.fa-pencil-square-o
          = link_to edit_user_registration_path do
            %i.fa.fa-cog
      .contents__left__bottom
        .box20
        %ul
          - @groups.each do |g|
            %li
              %p.gname
                = g.name
              %p.lmsg last message

    .contents__right
      .wrap
        .contents__right__top
          %p.gpname sample グループ
          %p.members Members: yoshiki
        .contents__right__bottom
          .box46
          %ul
            %li
              %p.chatName
                name name
                %span.time 2017/02/08 07:00:55
              %p.message heloo hello hello
            %li
              %p.chatName
                name name
                %span.time 2017/02/08 07:00:55
              %p.message heloo hello hello
            %li
              %p.chatName
                name name
                %span.time 2017/02/08 07:00:55
              %p.message heloo hello hello
    .footer
      .leftbox
      %form.postArea
        .msgbox
          %input.msg{ placeholder: "  type a", type: "text" }
          %i.fa.fa-picture-o
        %button.btn{ type: "submit" } Send
